<div class="card-div">
    <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title class="title">Register Form</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                  <mat-label>Email</mat-label>
                  <input matInput placeholder="ndeye@gmail.com" value="Email">
                </mat-form-field>
    
                <mat-form-field class="example-full-width">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="password" value="****">
                  </mat-form-field>
                  <mat-form-field class="example-full-width">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="password" value="****">
                  </mat-form-field>
              
              </form>
        </mat-card-content>
      </mat-card>

</div>
