<mat-toolbar color="warn" class="app-toolbar">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>public</mat-icon>
    </button>
    <span>Mo Guene </span>
    <span class="example-spacer"></span>
    <a href="#providers" mat-icon-button class="example-icon" style="margin-right: 57px;">
        <mat-icon>category</mat-icon>Providers
    </a>
    <a href="#attributes" mat-icon-button class="example-icon" style="margin-right: 57px;">
        <mat-icon>book</mat-icon>Attribues
    </a>
    <a href="#pricing" mat-icon-button class="example-icon" style="margin-right: 57px;">
        <mat-icon>money</mat-icon>Pricing
    </a>
    <a href="#criteria" mat-icon-button class="example-icon" style="margin-right: 57px;">
        <mat-icon>book</mat-icon>Criteres
    </a>
    <a href="#regles" mat-icon-button class="example-icon" style="margin-right: 17px;">
        <mat-icon>settings</mat-icon>Regles
    </a>
</mat-toolbar>

<section id="providers">
    <app-providers-management></app-providers-management>
</section>
<section id="attributes">
    <app-attributs></app-attributs>
</section>
<section id="pricing">
    <app-pricing-management></app-pricing-management>
</section>
<section id="criteria">
    <app-criteria-management></app-criteria-management>
</section>
<section id="regles">
    <app-rules-management></app-rules-management>
</section>