<mat-toolbar color="primary">
  <button mat-icon-button class="sidenav" aria-label="sideBarToggle" (click)="clickMenu()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Management Center</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="sidenav">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="sidenav">
    <mat-icon>share</mat-icon>
  </button>
  <button (click)="LoginPage()" mat-icon-button>Home</button>
  <mat-icon>home</mat-icon>
  <button (click)="LoginPage()" mat-icon-button>Login</button>
  <mat-icon>login</mat-icon>
  <button (click)="RegisterPage()"mat-icon-button>Register</button>
</mat-toolbar>
